<%= form_for(setup_links(@pant), :html => { :multipart => true }) do |f| %>
  <% if @pant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pant.errors.count, "error") %> prohibited this pant from being saved:</h2>

      <ul>
      <% @pant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :brand_id %><br />
    <%= f.collection_select :brand_id, Brand.all, :id, :name,  {:include_blank => 'None'} %>
  </div>
  <div class="field">
    <%= f.label :year %><br>
  </div>

  <div class="field">
    <%= f.label :leg_cut %><br>
    <%= f.select :leg_cut, LegCut.to_select, required: true %>
  </div>
  <div class="field">
    <%= f.label :body_shape %><br>
    <%= f.select :body_shape, BodyShape.to_select, required: true %>
  </div>

  <div class="field">
    <%= f.label :rise %><br>
    <%= f.select :rise, Rise.to_select, required: true, selected: 3 %>
    <%= f.label :exact_rise %><br>
    <%= f.text_field :exact_rise %>
  </div>
  <div class="field">
    <%= f.label :image, "Attach a File" %>
    <%= f.file_field :image %>
    <%= f.label :price_range %><br>
    <%= f.number_field :price_range %>
  </div>

  <div class="field">
    <%= content_tag :h4, 'Links to Places to purchase the pant' %>
    <%= f.fields_for :store_links, @pant.store_links do |ff| %>
      <div>
        <%= ff.label :name %>
        <%= ff.text_field :name %>
        <%= ff.label :url %>
        <%= ff.text_field :url %>
      </div>
    <% end %>


  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
