<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pant.name %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @pant.brand ? @pant.brand.name : ''%>
</p>

<p>
  <strong>Year:</strong>
  <%= @pant.year %>
</p>

<p>
  <strong>Style:</strong>
  <%= @pant.style %>
</p>

<p>
  <strong>Price range:</strong>
  <%= @pant.price_range %>
</p>
<%= image_tag @pant.image.url %>
<%# @pant.images.each do |image|  %>
<%#= image_tag image.url %>
<%#= image_tag image.url(:medium) %>
<%#= image_tag image.url(:thumb) %>
<%# end %>
<% if @pant.reviews.length > 0 %>
  <%= 'Has a review' %>
<% end %>

<% if @pant.store_links.length > 0 %>
  <%=  @pant.store_links.first.url %>
<% end %>




<%= link_to 'Edit', edit_pant_path(@pant) %> |
<%= link_to 'Back', pants_path %>
