<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Will it fit?</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Find Pants <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= form_tag pants_path, :method => 'get' do %>
              <p>
                <%= text_field_tag :search, params[:search], placeholder: 'Search pant names' %>
                <%= submit_tag "Search", :name => nil %>
              </p>
            <% end %></li>
            <li><%= link_to "Show All Pants", pants_path %></li>
            <li><%= link_to "Add New Pant", new_pant_path %></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
        <li><%= link_to "See Reviews", reviews_path %></li>
        <li><%= link_to "New Review", new_review_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
        <li>
        <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>
        </li>
      <% else %>
        <li>
        <%= link_to('Login', new_user_session_path)  %>
        </li>
      <% end %>
      <% if user_signed_in? %>
        <li>
        <%= link_to('Edit account', edit_user_registration_path) %>
        </li>
      <% else %>
        <li>
        <%= link_to('Sign up', new_user_registration_path)  %>
        </li>
      <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div> <!-- /.container -->
</div> <!-- /.navbar -->