<div class="row">

<%= simple_form_for(@review) do |f| %>

  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-full">
    <%= params.inspect %>
    <br>
    <%= params[:review] %>
    <h3 class="section-title">Reviewing Pant: </h3>
    
  </div>
  <div class="review-form--right review-form--pant">
      <%= f.label :pant_id, 'Select the Pant' %>
      <% pants_array = Pant.all.map { |pant| [pant.brand.name + ' - ' + pant.name, pant.id] } %>
      <%= f.select(:pant_id, pants_array) %>
  </div>
    

  <div class="review-form--left">
  <div class="review-form--fit">
      <h3 class="panel-title">About the Fit</h3>
      
      <%= f.label :hip_fit, 'Hip/Butt Fit' %>
      <%= f.select :hip_fit, HipFit.to_select, required: true, selected: 3 %>
      <%= f.label :waist_fit %>
      <%= f.select :waist_fit, WaistFit.to_select, required: true, selected: 3 %>
      <%= f.label :thigh_fit %>
      <%= f.select :thigh_fit, ThighFit.to_select, required: true, selected: 3 %>
      <h4>Overall, how much you like these pants?</h4>

      <div class="page-header">
        <h3>Reviewing with your measurements <small>edit?</small></h3>
        <div class="field">
            <%= @review_user ? @review_user.waist_measurement : '' %>
            <%= f.label :waist_measurement %>
            <%= f.number_field :waist_measurement, value: (@review.waist_measurement or (@review_user ? @review_user.waist_measurement : '') ) %>
          </div>
          <div class="field">
            <%= f.label :hip_measurement %>
            <%= f.number_field :hip_measurement, value: (@review.hip_measurement or (@review_user ? @review_user.hip_measurement : '') ) %>
          </div>
          <div class="field">
            <%= f.label :thigh_measurement %>
            <%= f.number_field :thigh_measurement, value: (@review.thigh_measurement or (@review_user ? @review_user.thigh_measurement : '') ) %>
          </div>
        <div>Image</div>

      </div>
  </div>

  <div class="review-form--words">
        <h3 class="panel-title">In your words</h3>
      
        <div class="form-group">
          <%= f.input :title %>
        </div>
        <div class="field">
          <%= f.label :content, 'Comments' %><br>
          <%= f.text_area :content, rows: '4', class: 'form-control' %>
        </div>

        <div class="field">
          <%= f.label :image, 'Upload a photo?' %><br>
          <%= f.file_field :image %>
        </div>
  </div>
  

  </div>


  <div class="review-form--submit">
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>

    
  <% end %> <!-- end form -->
</div>
