<div class="row">

<%= simple_form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-full">
    <h3 class="section-title">Reviewing Pant: </h3>
    
  </div>
  <div class="col-1-4">
    <%= f.label :pant_id, 'Select the Pant' %>
    <% pants_array = Pant.all.map { |pant| [pant.brand.name + ' - ' + pant.name, pant.id] } %>
    <%#= f.collection_select(:pant_id, Pant.all, :id, :name) %>
    <%#= f.collection_select(:pant_id, pants_array) %>
    <%= f.select(:pant_id, pants_array) %>
    <%#= f.options_for_select(:pant_id, pants_array) %>
  </div>

  <div class="col-half">
      <h3 class="panel-title">About the Fit</h3>
      
        <%= f.label :hip_fit, 'Hip/Butt Fit' %>
        <%= f.select :hip_fit, HipFit.to_select, required: true, selected: 3 %>
        <%= f.label :waist_fit %>
        <%= f.select :waist_fit, WaistFit.to_select, required: true, selected: 3 %>
        <%= f.label :thigh_fit %>
        <%= f.select :thigh_fit, ThighFit.to_select, required: true, selected: 3 %>
        <h4>Overall, how much you like these pants?</h4>
  </div>

  <div class="col-half">
        <h3 class="panel-title">In your words</h3>
      
        <div class="form-group">
          <%= f.input :title %>
        </div>
        <div class="field">
          <%= f.label :content, 'Comments' %><br>
          <%= f.text_area :content, rows: '4', class: 'form-control' %>
        </div>

        <div class="field">
          <%= f.label :image, 'Upload a photo?' %><br>
          <%= f.file_field :image %>
        </div>
  </div>
  <div class="col-md-6">
    

  </div>

  <div class="col-md-6">

    <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#current_measurements">
      toggle measurements
    </button>


    <h4>Rate the Fit</h4>
    <% if @user %>
      <div class="radio">
        <label><input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>Rate using my saved measurements</label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" data-toggle="collapse" data-target="#current_measurements">Enter new measurements
        </label>
      </div>
    <% else %>
      Please enter your measurements:
    <% end %>

    <div id="current_measurements" class="collapse in">
      <div class="row">
        <div class="col-md-4">
          <div class="field">
            <%= f.input :waist_measurement, value: (params[:waist_measurement] or @user ? @user.waist_measurement : '') %>
          </div>
          <div class="field">
            <%= f.input :hip_measurement %>
          </div>
          <div class="field">
            <%= f.input :thigh_measurement %>
          </div>
        </div>
        <div class="col-md-8">
          Picture explaining how to measure
        </div>

      </div>
        
    </div>

      

  </div>
  
<%= current_user.inspect %>
<br>
<%= @params.inspect %>
  <div class="actions">
    <%= hidden_field_tag(:user_id) %>
    <%= f.submit %>
  </div>
<% end %>

</div>
