<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @review.title %>
</p>

<p>
  <strong>Waist fit:</strong>
  <%= @review.waist_fit(:name) %>
</p>

<p>
  <strong>Hip fit:</strong>
  <%= @review.hip_fit(:name) %>
</p>

<p>
  <strong>Thigh fit:</strong>
  <%= @review.thigh_fit(:name) %>
</p>

<p>
  <strong>Rise:</strong>
  <%= @review.rise(:name) %>
</p>

<p>
  <strong>Waist measure:</strong>
  <%= @review.waist_measurement %>
</p>

<p>
  <strong>Hip measure:</strong>
  <%= @review.hip_measurement %>
</p>

<p>
  <strong>Thigh measure:</strong>
  <%= @review.thigh_measurement %>
</p>

<p>
  <strong>Content:</strong>
  <%= @review.content %>
</p>

<p>
<%= image_tag @review.image.url %>
<%= image_tag @review.image.url(:medium) %>
<%= image_tag @review.image.url(:thumb) %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
