<!DOCTYPE html>
<html>
<head>
  <title>FivV4</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <%= render partial: 'layouts/shared/nav' %> 

  <div class="container">
    <div class="row row-offcanvas">
      <%= render partial: 'layouts/shared/flash_messages', flash: flash %> 
    </div>
  </div>

  <div class="container">

    <div class="row">
      <div class="col-lg-9">
        <%= yield %>
      </div>

      <div class="col-lg-3" id="sidebar" role="navigation">
         <div class="well sidebar-nav">
            <ul class="nav">
              <li>Sidebar</li>
              <li class="active"><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li>Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li>Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            </ul>
          </div><!--/.well -->
      </div> <!-- /#sidebar -->

    </div> <!-- /.row -->

  </div><!-- ./container -->
</body>
</html>
