<!DOCTYPE html>
<html>
<head>
  <title>FivV4</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <%= render partial: 'layouts/shared/nav' %> 

  <div class="container">
    <div class="row row-offcanvas">
      <%= render partial: 'layouts/shared/flash_messages', flash: flash %> 
    </div>
  </div>

  <div class="container">

    <div class="row">
      <div class="col-xs-12">
        <%= yield %>
      </div>
    </div> <!-- /.row -->
  </div><!-- ./container -->

  <footer class="container">Footer?</footer>
</body>
</html>
